/CodenameOne/nbproject/private/
/CodenameOneDesigner/nbproject/private/
/Ports/Android/nbproject/private/
/Ports/BlackBerryOS_4_2/nbproject/private/
/Ports/BlackBerryOS_5/nbproject/private/
/Ports/JavaSE/nbproject/private/
/Factory/nbproject/private/
/vm/ByteCodeTranslator/nbproject/private/
/vm/JavaAPI/nbproject/private/
/Factory/build/
/CodenameOne/build/
/Factory/dist/
/CodenameOne/dist/
/Ports/Android/build/
/Ports/Android/dist/
/Ports/BlackBerryOS_4_2/build/
/Ports/BlackBerryOS_5/build/
/Ports/BlackBerryOS_4_2/dist/
/Ports/BlackBerryOS_5/dist/
/Ports/JavaSE/build/
*.skin
*.jar
*.class
**/private/*
**/build/*
**/dist/*
*.zip
CodenameOneDesigner/src/version.properties
