<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <application android:theme="@android:style/Theme.Material.Light.NoActionBar" android:label="Camera regression">
        <activity android:name=".CameraTestActivity" android:exported="true" />
    </application>
</manifest>
