<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>CFBundleIconFiles</key>
	<array>
            <string>iPhoneNotification@2x.png</string>
            <string>iPhoneNotification@3x.png</string>
            <string>iPhoneSpotlight.png</string>
            <string>iPhoneSpotlight@2x.png</string>
            <string>iPhoneSpotlight@3x.png</string>
            <string>iPhone7Spotlight@2x.png</string>
            <string>iPhone7Spotlight@3x.png</string>
            <string>iPhoneApp.png</string>
            <string>iPhoneApp@2x.png</string>
            <string>iPhone7App@2x.png</string>
            <string>iPhone7App@3x.png</string>
            <string>iPadNotifications.png</string>
            <string>iPadNotification@2x.png</string>
            <string>iPadSettings.png</string>
            <string>iPadSettings@2x.png</string>
            <string>iPadSpotlight7.png</string>
            <string>iPadSpotlight7@2x.png</string>
            <string>iPadSpotlight.png</string>
            <string>iPadSpotlight@2x.png</string>
            <string>iPadApp.png</string>
            <string>iPadApp@2x.png</string>
            <string>iPadApp7.png</string>
            <string>iPadApp7@2x.png</string>
            <string>iPadPro@2x.png</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.codename1pkg</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>5.1.1</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>VERSION_VALUE</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>VERSION_BUNDLE_VALUE</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
