name: Java CI

on: [push]

jobs:
  build-linux-jdk8-fx:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        java-package: jdk+fx
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install xvfb
    - name: Build with Ant
      run: xvfb-run ant test-javase

    - name: Fetch JavaDoc Source Embed
      uses: carlosperate/download-file-action@v1.0.3
      with:
        file-url: ${{ secrets.JAVADOC_SOURCE_EMBED_URL }}
        file-name: JavaDocSourceEmbed.jar
            
    - name: Build Release
      run: ant -noinput -buildfile CodenameOne/build.xml weeklyLibUpdate

    - name: Build JavaDoc
      run: |
        echo "Deleting old/temporary files"
        rm -Rf CodenameOne/dist/javadoc
        rm -Rf CodenameOne/build/tempJavaSources
        echo "Creating JavaDoc Dir"
        mkdir -p CodenameOne/build
        mkdir -p CodenameOne/build/tempJavaSources
        echo "Running JavaDocSourceEmbed"
        java -jar JavaDocSourceEmbed.jar CodenameOne/src CodenameOne/build/tempJavaSources
        echo "Analyzing packages"
        find CodenameOne/build/tempJavaSources Ports/CLDC11/src -name "*.java" | grep -v /impl/ > tmp.packages
        echo "Running JavaDoc"
        cat tmp.packages | xargs javadoc --allow-script-in-comments -protected -d CodenameOne/dist/javadoc -windowtitle "Codename One API" || true
        echo "Zipping JavaDoc bundle"
        cd CodenameOne/dist/javadoc
        zip -r ../../../javadoc.zip *
        cd ../../..

    - name: Upload JavaDoc Zip to ART
      if: github.ref == 'refs/heads/master'
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.ART_IP }}
        username: ${{ secrets.ART_USER }}
        password: ${{ secrets.ART_AUTH }}
        port: 22
        source: javadoc.zip
        target: ${{ secrets.ART_DIR }}/core
        rm: true
        strip_components: 1

    - name: Upload updatedLibs.zip to ART
      if: github.ref == 'refs/heads/master'
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.ART_IP }}
        username: ${{ secrets.ART_USER }}
        password: ${{ secrets.ART_AUTH }}
        port: 22
        source: CodenameOne/updatedLibs.zip
        target: ${{ secrets.ART_DIR }}/core
        strip_components: 1

    - name: Upload iOS Port to ART
      if: github.ref == 'refs/heads/master'
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.ART_IP }}
        username: ${{ secrets.ART_USER }}
        password: ${{ secrets.ART_AUTH }}
        port: 22
        source: Ports/iOSPort/dist/iOSPort.jar
        target: ${{ secrets.ART_DIR }}/core
        strip_components: 1

    - name: Upload iOS Native to ART
      if: github.ref == 'refs/heads/master'
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.ART_IP }}
        username: ${{ secrets.ART_USER }}
        password: ${{ secrets.ART_AUTH }}
        port: 22
        source: Ports/iOSPort/dist/nativeios.jar
        target: ${{ secrets.ART_DIR }}/core
        strip_components: 1

    - name: Upload zoozIosSources.jar to ART
      if: github.ref == 'refs/heads/master'
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.ART_IP }}
        username: ${{ secrets.ART_USER }}
        password: ${{ secrets.ART_AUTH }}
        port: 22
        source: Ports/iOSPort/dist/zoozIosSources.jar
        target: ${{ secrets.ART_DIR }}/core
        strip_components: 1

    - name: Upload CodenameOne.jar to ART
      if: github.ref == 'refs/heads/master'
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.ART_IP }}
        username: ${{ secrets.ART_USER }}
        password: ${{ secrets.ART_AUTH }}
        port: 22
        source: CodenameOne/dist/CodenameOne.jar
        target: ${{ secrets.ART_DIR }}/core
        strip_components: 1

    - name: Upload Android.jar to ART
      if: github.ref == 'refs/heads/master'
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.ART_IP }}
        username: ${{ secrets.ART_USER }}
        password: ${{ secrets.ART_AUTH }}
        port: 22
        source: /Ports/Android/dist/Android.jar
        target: ${{ secrets.ART_DIR }}/core
        strip_components: 1
