name: Java CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'CodenameOneDesigner/**'

jobs:
  build-linux-jdk8:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        java-package: jdk
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install xvfb
    - name: Build with Maven
      run: |
        cd maven
        xvfb-run -a mvn install -Plocal-dev-javase
      

    - name: Fetch archetype projects
      uses: carlosperate/download-file-action@v1.0.3
      with:
        file-url: https://github.com/shannah/cn1-maven-archetypes/archive/refs/heads/master.zip
        file-name: cn1-maven-archetypes.zip 
    - name: Install archetype projects
      run: |
        unzip cn1-maven-archetypes.zip
        cd cn1-maven-archetypes-master
        xvfb-run -a mvn install archetype:update-local-catalog -Plocal-dev-javase
        xvfb-run -a mvn archetype:crawl -Plocal-dev-javase
    - name: Run Maven Unit Tests
      run: |
        pwd
        xvfb-run -a bash tests/all.sh
        cd maven/integration-tests
        xvfb-run -a bash all.sh

  
