name: PR CI

on:   
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build-linux-jdk8-fx:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        java-package: jdk+fx
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install xvfb
    - name: Build with Ant
      run: xvfb-run ant test-javase

    - name: Build Release
      run: ant -noinput -buildfile CodenameOne/build.xml weeklyLibUpdate

    - name: Build JavaDocs
      run: |
        cd CodenameOne
        mkdir -p build
        mkdir -p build/tempJavaSources
        mkdir -p dist
        mkdir -p dist/javadoc
        wget https://github.com/codenameone/JavaDocSourceEmbed/releases/download/refs%2Fheads%2Fmaster/JavaDocSourceEmbed-1.0-SNAPSHOT.jar
        java -jar JavaDocSourceEmbed-1.0-SNAPSHOT.jar src build/tempJavaSources
        find build/tempJavaSources ../Ports/CLDC11/src -name "*.java" | /usr/bin/grep -v /impl/ | /usr/bin/xargs javadoc --allow-script-in-comments -protected -d dist/javadoc -windowtitle "Codename One API" || true
        cd dist/javadoc
        zip -r ../../javadocs.zip *
        cd ..

    - name: Build iOS Port
      run: ant -noinput -buildfile Ports/iOSPort/build.xml jar

    - name: Build iOS VM API
      run: ant -noinput -buildfile vm/JavaAPI/build.xml jar

    - name: Build iOS VM
      run: ant -noinput -buildfile vm/ByteCodeTranslator/build.xml jar

    - name: Build Android Port
      run: ant -noinput -buildfile Ports/Android/build.xml jar

    - name: Packaging Everything
      run: zip result.zip CodenameOne/javadocs.zip CodenameOne/dist/CodenameOne.jar CodenameOne/updatedLibs.zip Ports/JavaSE/dist/JavaSE.jar build/CodenameOneDist/CodenameOne/demos/CodenameOne_SRC.zip

    - name: Copying Files to Server
      uses: marcodallasanta/ssh-scp-deploy@v1.0.5
      with:
        host: ${{ secrets.WP_HOST }}
        user: ${{ secrets.WP_USER }}
        password: ${{ secrets.WP_PASSWORD }}
        local: result.zip
  
